* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

body {
    background-color: rgb(0, 0, 0);
}

header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
    overflow-x: auto;
}

a {
    color: white;
}

nav a {
    color: white;
    font-size: 1vw; 
    text-decoration: none;
    padding-left: 2vh;
    padding-right: 2vh;
    white-space: nowrap;
}

.logo {
    display: block;
}

.logo img {
    display: block;
    width: auto;
    height: 100%;
}

h1 {
    font-size: 6vw;
    color: white;
}

h2 {
    font-size: 2vw;
    color: rgb(255, 255, 255);
    
}

h3 {
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 4%;
}

p {
    color: white;
    font-size: 1.3vw;
}

section {
    display: block;
    position: relative;
    overflow-y: hidden;
}

section img {
    width: 100%;
}

.overlay{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.3);
}

.img-txt {
    position: relative;
    left: 5%;
}

.overlay h1 {
    font-size: 8vw;
    color: rgb(255, 255, 255);
    position: relative;
    bottom: 12%;
}

.overlay h2 {
    position: absolute;
    width: 90%;
    height: 70%;
    display: flex;
    justify-content: start;
    align-items: start;
    font-size: 6vw;
}

.overlay p {
    position: absolute;
    width: 90%;
    height: 44%;
    display: flex;
    justify-content: start;
    align-items: start;
    font-size: 3vw;
}

.column {
    float: left;
    width: 100%;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

button {
    position: relative;
    background-color: rgba(0, 0,0,0);
    border: 2px;
    color: white;
    border-style: groove;
    right: 40%;
    top: 30%;
    transition-duration: 0.5s;
    width: 10%;
    height: 10%;
    overflow-y: hidden;
    font-size: 2.1vw;
    text-align: center;
}

button:hover {
    background-color: white;
    color: black;
}

section h1 {
    position: relative;
    left: 30%;
    padding-top: 7.5vh;
}

section pre {
    position: relative;
    left: 25%;
    color: white;
    line-height: 1.5em;
    padding: 3vh;
}

footer {
    padding-bottom: 5vh;
}

a img {
    width: 55%;
}

.logo {
    width: fit-content;
}

.logo a {
    display: inline-block;
}

@media screen and (max-width: 768px) {
    nav a {
        font-size: 2vw;
    }

    .logo {
        padding: 5px;
    }

    .logo img {
        max-width: 70%;
        object-fit: cover;
    }
}

