* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(0, 0, 0);
}

header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
    margin-right: 5%;
}

a {
    color: white;
}

nav a {
    color: white;
    font-size: 140%; 
    text-decoration: none;
    padding-right: 9%;
    white-space: nowrap;
}

.logo {
    display: block;
}

.logo img {
    display: block;
    width: auto;
    height: 100%;
}

h1 {
    color: white;
}

h2 {
    color: rgb(255, 255, 255);  
}

h3 {
    color: white;
}

h4 {
    color: white;
}

p {
    color: white;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4%;
    margin-bottom: 4vh;
}

section {
    display: block;
    position: relative;
    overflow-y: hidden;
    margin-bottom: -4px;
}

section img {
    width: 100%;
}

.overlay{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.3);
}

.img-txt {
    position: relative;
    animation: fadeIn 2.5s;
}

.overlay h1 {
    font-size: 6vw;
    color: rgb(255, 255, 255);

}

.overlay h2 {
    position: absolute;
    width: 90%;
    height: 70%;
    display: flex;
    justify-content: start;
    align-items: start;
}

.overlay p {
    position: absolute;
    width: 90%;
    height: 44%;
    display: flex;
    justify-content: start;
    align-items: start;

}

.column {
    float: left;
    width: 50%;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}


.kontakta-oss {
    position: relative;
    background-color: rgb(221, 221, 221);
    color: black;
    border-style: groove;
    border: 2px;
    width: 6vw;
    height: 4vh;
    margin-left: 24%;
    font-size: 1.2vh;
}

button:hover {
    background-color: white;
    color: black;
}

a img {
    width: 55%;
}

.logo {
    width: fit-content;
}

.logo a {
    display: inline-block;
}

@media screen and (max-width: 768px) {
    nav a {
        font-size: 2vw;
    }

    .logo {
        padding: 5px;
    }

    .logo img {
        max-width: 80%;
    }
}

.kontakt {
    font-size: 370%;
    padding-top: 3%;
    padding-left: 20%;
}

form {
    position: relative;
    float: right;
}

label {
    color: white;
    font-size: 150%;
}

input{
    background-color: rgba(0,0,0,0.2);
    color: white;
    margin-bottom: 4%;
    font-size: 120%;
    width: 97%;
    max-height: 10%;
    max-width: 97%;
    padding: 3% 0;
    border-color: white;
}

textarea {
    background-color: rgba(0,0,0,0.2);
    color: white;
    border-color: white;
    width: 97%;
    max-width: 97%;
    font-size: 130%;
}

#Skicka {
    background-color: rgb(221,221,221);
    color: black;
}

#Skicka:hover {
    background-color: white;
    color: black;
}

table {
    margin-bottom: 2%;
}

.arbete {
    display: flex;
    justify-content: center;
}

td {
    padding: 1%;
}

@keyframes slideLeft{
    from {
        transform: translateX(-100px);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes slideRight{
    from {
        transform: translateX(100px);
    }

    to {
        transform: translateX(0);
    }
}

.slideLeft {
    animation: slideLeft 1s;
}

.slideRight {
    animation: slideRight 1s;
}

.vårt-arbete {
    position: relative;
    padding: 1.8%;
    background-color: rgba(0, 0,0,0);
    border: 2px;
    color: white;
    border-style: groove;
    right: 40%;
    top: 28%;
    transition-duration: 0.5s;
    width: 10%;
    overflow-y: hidden;
    font-size: 0.8vw;
    animation: slideLeft 1s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fadeIn {
    animation: fadeIn 2.5s;
}

.ad-text {
    text-align: center;
    padding-bottom: 1%;
    font-size: 1.2vw;
}

.ad-img {
    padding-bottom: 1%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
 ul {
    color: white;
 }

 li {
    font-size: 1.2vw;
 }
