* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(0, 0, 0);
}

header {
    background-color: black;
}

a {
    width: 100%;
}

.logo img {
    display: block;
    width: 70%;
    margin: auto;
}

h1 {
    font-size: 6vw;
    color: white;
}

h2 {
    font-size: 2vw;
    color: rgb(255, 255, 255);
    
}

h3 {
    color: white;
}

h4 {
    color: white;
}

p {
    color: white;
    font-size: 1.3vw;
}

section {
    display: block;
    position: relative;
    overflow-y: hidden;
}

section img {
    width: 100%;
}

.overlay{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.3);
}

.img-txt {
    position: relative;
    left: 2%;
    animation: fadeIn 2.5s;
}

.overlay h1 {
    font-size: 8vw;
    color: rgb(255, 255, 255);
    position: relative;
    bottom: 12%;
}

.overlay h2 {
    position: absolute;
    width: 90%;
    height: 70%;
    display: flex;
    justify-content: start;
    align-items: start;
    font-size: 6vw;
}

.overlay p {
    position: absolute;
    width: 90%;
    height: 44%;
    display: flex;
    justify-content: start;
    align-items: start;
    font-size: 3vw;
}

.column {
    float: left;
    width: 100%;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

#arbete {
    position: relative;
    background-color: rgba(0, 0,0,0);
    border: 2px;
    color: white;
    border-style: groove;
    margin-right: 66%;
    margin-top: 45%;
    width: 25%;
    height: 15%;
    overflow-y: hidden;
    font-size: 3vw;
    text-align: center;
}

section h1 {
    position: relative;
    left: 30%;
    padding-top: 7.5vh;
}

section pre {
    position: relative;
    left: 25%;
    color: white;
    line-height: 1.5em;
    padding: 3vh;
}

.footer {
    padding-bottom: 5vh;
    padding: 4%;
    display: flex;
    justify-content: center;
}

a img {
    width: 55%;
}

.logo {
    width: fit-content;
}

.logo a {
    display: inline-block;
}

label {
    color: white;
    font-size: 150%;
    margin-left: 10%;
}

input {
    background-color: rgba(0,0,0,0.2);
    color: white;
    border-color: white;
    width: 72.5%;
    height: 70%;
    font-size: 150%;
    padding: 3%;
    margin-bottom:5%;
    margin-top: 2%;
    margin-left: 10%;
}

.kontakt {
    padding-bottom: 5%;
}

textarea {
    background-color: rgba(0,0,0,0.2);
    color: white;
    border-color: white;
    width: 72.5%;
    height: 70%;
    font-size: 150%;
    padding: 3%;
    margin-bottom:5%;
    margin-top: 2%;
    margin-left: 10%;
}

#Skicka {
    text-align: center;
    width: 55%;
}

.drop {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 60px;
    display: inline-block;
}

.drop-content {
    display: none;
    position: absolute;
    background-color: rgba(12,12,13,0.5);
    min-width: 160px;
    overflow: auto;
    z-index: 1;
}

.drop-content a {
    color: rgb(255, 255, 255);
    padding: 12px 0;
    text-decoration: none;
    display: block;
    font-size: 5vw;
}

.dropbtn {
    width: 60px;
    height: 100%;
    border-radius: 50%;
    background-image: url("img/mini.png");
    opacity: 0.7;
    border: none;
}

.show {
    display: block;
}

table {
    margin-left: 5%;
    margin-top: 5%;
    padding-bottom: 5%;
}

.kontakta-oss {
    display: block; 
    margin: 5% auto;
    padding: 3%;
    width: 40%;
    background-color: white;
    color: black;
    font-size: 100%;
}

@keyframes slideLeft{
    from {
        transform: translateX(-100px);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes slideRight{
    from {
        transform: translateX(100px);
    }

    to {
        transform: translateX(0);
    }
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.slideLeft {
    animation: slideLeft 1s;
}

.slideRight {
    animation: slideRight 1s;
}

.fadeIn {
    animation: fadeIn 2.5s;
}
